*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    /* color: aliceblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

nav img{
    height: 70px;
}

nav a{
    color: aliceblue;
    font-size: 2rem;
    text-decoration: none;
    font-family: cursive;
}

nav a:hover{
    color: rgb(240, 115, 115);
    cursor: pointer;
}

#hero{
    height: 500px;
    width: 100%;
    /* border: 2px solid red; */
    position: relative;
}

#hero img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#hero h2{
    position: absolute;
    top: 200px;
    font-size: 6rem;
    text-align: center;
    color: red;
    text-shadow: 6px -3px 5px black;
    /* background-color: yellow; */
    width: 100%;
}